name: cdxgen CI/CD

on:
  push:
    branches:
    - main

jobs:
  generate_and_modify_cyclonedx_sbom:
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      actions: read
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Node.js setup
        uses: actions/setup-node@v6.0.0
        with:
          node-version: latest

      - name: Install cdxgen
        run: npm install -g @cyclonedx/cdxgen

      - name: Install CycloneDX CLI
        run: |
          VERSION=0.29.1
          OS=linux  # win (for Windows) and osx (for macOS)
          ARCH=x64  # adjust if arm etc
          FILENAME=cyclonedx-${OS}-${ARCH}   # may have other extensions for MacOS or Windows
          wget https://github.com/CycloneDX/cyclonedx-cli/releases/download/v${VERSION}/${FILENAME}
          chmod +x ${FILENAME}
          sudo mv ${FILENAME} /usr/local/bin/cyclonedx
          cyclonedx --version

      - name: Generate cdxgen SBOM for all supported languages
        run: cdxgen -r -o cdxgen-sbom.json
      
      - name: Enrich SBOM with Metadata
        run: cyclonedx add files --input-file cdxgen-sbom.json --output-file cdxgen-enriched.json --base-path . --include "*"

      - name: Generate Syft SBOM for languages not supported by cdxgen
        uses: anchore/sbom-action@v0.15.11
        with:
          path: .
          format: cyclonedx-json
          output-file: cyclonedx-syft-sbom.json
          upload-artifact: false

      - name: Convert Syft SBOM to CycloneDX 1.6
        run: cyclonedx convert \
                --input-file cyclonedx-syft-sbom.json \
                --output-file cyclonedx-syft-sbom-1.6.json \
                --input-format json \
                --output-format json \
                --spec-version 1.6

      - name: Scan for vulnerabilities in the Syft SBOM using Grype
        uses: anchore/scan-action@v6
        with:
          sbom: cyclonedx-syft-sbom-1.6.json
          severity-cutoff: critical
          output-format: sarif
          output-file: results-syft-sbom.sarif

      - name: Modify cdxgen SBOM using script
        run: node scripts/modify-sbom.js

      - name: Sign cdxgen SBOM with auto-generated keys
        env:
          SBOM_SIGN_ALGORITHM: RS512
          SBOM_SIGN_PRIVATE_KEY: cdxgen-private.pem
          SBOM_SIGN_PUBLIC_KEY: cdxgen-public.pem
        run: |
          cyclonedx sign \
            --input-file sbom-custom.json \
            --output-file sbom-custom-signed.json \
            --generate-key-and-sign

      - name: Upload cdxgen SBOM as an artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: cdxgen-sbom
          path: sbom-custom-signed.json

      - name: Upload syft SBOM as an artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: syft-sbom
          path: cyclonedx-syft-sbom-1.6.json

      - name: Upload scanned Syft SBOM using SARIF format
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results-syft-sbom.sarif
          
